<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'deck_list' %}">
            <i class="fas fa-magic me-2"></i>
            My MTG Collection
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deck_list' %}">
                        <i class="fas fa-layer-group me-1"></i>Decks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>